body {
  margin: 0;
}

.container {
  max-width: 72rem;
  margin: auto;
  border: 1px solid black;
}

.header {
  height: 4.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 4rem;
}

.logo {
  margin-right: 11px;
}

.nav ul {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  gap: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 7rem;
}

.article {
  border: 1px solid;
  background-color: #2ecc71;
  padding: 11px;
}

.article-title {
  font-size: 4rem;
}

.article-text {
  width: 43rem;
}

.banner-img {
  position: relative;
  top: 0;
  left: 0;
}
