:root {
    --custom-linear-color: linear-gradient(to right, #FF5733, #FFB733, #33FF57);
    /* Define your custom linear gradient */
}

@font-face {
    font-family: 'Museo Sans';
    src: url('src/fonts/MuseoSans_500.otf') format('otf'),
        url('src/fonts/MuseoSans_700.otf') format('otf'),
        url('src/fonts/MuseoSans_900.otf') format('otf') url('src/fonts/MuseoSans_300.otf') format('otf') url('src/fonts/MuseoSans_100.otf') format('otf');
    /* Add additional font formats if needed */
}

@font-face {
    font-family: 'Museo Sans';
    src: url('src/fonts/MuseoSans_300.otf') format('otf');
    font-weight: 300;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('src/fonts/MuseoSans_500.otf') format('otf');
    font-weight: 500;
    /* Regular weight */
    font-style: normal;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Museo Sans', sans-serif;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

.font-300 {
    font-weight: 500;
}
